<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
    integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>

<body>
  <div id="list_alerts" class="toast toast-top toast-center capitalize" style="z-index: 1000;">

  </div>
  {% block content %}{% endblock %}
  <script src="https://d3js.org/d3.v7.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.7.0.min.js"
    integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  {% block javascript %}{% endblock %}
  <script>
    
    function showAlert(message) {
      var toast = $('<div></div>').addClass('alert alert-success').append(`
        <span>${message}.</span>
      `)
      $('#list_alerts').append(toast);
      return toast;
    }

    function hideAlert(alert) {
      alert.remove();
    }
  </script>
</body>

</html>