{% extends './base.html' %}
{% block content %}


<div class="w-screen h-screen flex items-center justify-between">
    <div class="w-1/5 h-full flex items-center justify-center h-screen">
        <div id="btn_load_geometries" class="btn">Carica JSON</div>
        <div id="btn_delete_geometries" class="btn">Elimina geometrie</div>
    </div>
    <iframe id="frame_view" src="http://127.0.0.1:7474/browser/" class="w-4/5 h-full"></iframe>
</div>

{% endblock %}
{% block javascript %}
<script>
    var btnLoadGeometries = $('#btn_load_geometries');
    var btnDeleteGeometries = $('#btn_delete_geometries');
    var listAlerts = $('#list_alerts');
    var frameView = $('#frame_view');

    function onLoadGeometriesPressed() {
        btnLoadGeometries.addClass('loading');
        $.post('/geometries').then((result) => {
            showAlert(result.message);
        }).always(() => {
            btnLoadGeometries.removeClass('loading');
            frameView.attr('src', frameView.attr('src'));
        })
    }

    function onDeleteGeometries() {
        btnDeleteGeometries.addClass('loading');
        $.ajax({
            url: '/geometries',
            type: 'DELETE',
        }).then((result) => {
            showAlert(result.message);
        }).always(() => {
            btnDeleteGeometries.removeClass('loading');
            frameView.attr('src', frameView.attr('src'));
        })
    }

    

    btnLoadGeometries.on('click', onLoadGeometriesPressed);
    btnDeleteGeometries.on('click', onDeleteGeometries);
</script>
{% endblock %}